{% if user.is_authenticated %} Hi, {{user.username}}! <br />
<a href="{% url 'logout  ' %}">Logout</a>
{% else %} Not yet login<br />
{% endif %}
<a href="{% url 'login' %}">Login</a>
<h1>My simple blog</h1>

<!-- This area is to show the list of posts -->
{% for post in posts %}
<a href="{% url 'detail' post.id %}"><h3>Title : {{ post.title }}</h3></a>
<h4>Contents : {{ post.date }}</h4>
{% endfor %}
<br /><br /><br />
<a href="{% url 'new' %}">Write a new post using HTML</a><br />
<a href="{% url 'formcreate' %}">Write a new post using django form</a><br />
<a href="{% url 'modelformcreate' %}"
  >Write a new post using django modelform</a
>
